{:tasks
 {clean     {:doc "Remove 'public' folder."
             :requires ([babashka.fs :as fs])
             :task (do (println "Removing folder 'public'.")
                       (fs/delete-tree "public"))}
  -build    {:task (do (println "Build for deployment.")
                       (clojure "-M:build"))}
  watch     {:doc "Run the builtin server for interactive use."
             :depends [clean]
             :task (clojure "-X:serve")}
  release   {:doc "Release version for upload to GH Pages."
             :depends [clean -build]
             :task (do (println "Building Lunr index.")
                       (shell "node build-index.js")
                       (println "Creating grmblog.tgz")
                       (shell "tar zcvf grmblog.tgz -C public ."))}}}
